@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  --blue: #2e62d9;
  --link-color: #fff;
  --text-color: #000;
  --grey: #333;
  --red: #fc5454;
  --bg-component: #effbff;
  --skeleton-base: rgb(235, 235, 235);
  --skeleton-gradient: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.4)
    ),
    transparent;
}
