.company-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;
  padding: 18px 36px;
  background-color: var(--bg-component);
  border-radius: 5px;
  width: 800px;
  height: 350px;

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    overflow-y: auto;
  }
}
